
<div id="author">
	<h3>Oscar Illescas Jimenez</h3>
	<img class="image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAI2AAAAJGM3ZWUxZTM1LTVhOTEtNGM5ZS05ODc5LWM1YWVmYmVmYTgxMQ.jpg" alt="oscar illescas jimenez">
</div>