<form action="">
	<input type="text" name="search" id="search">
	<input type="submit"></input>
</form>

<table>
	<tr>
		<td>Preguntas <%= quizes.length %></td>
	</tr>
	<% for(var i=0; i< quizes.length; i++){%>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	</tr>
	<%} %>
</table>